body{
    margin: 0px;
    background: #efeee7;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}
/*Start Header/Navbar*/
#nameElement{
    background: #4aaaa5;
    color: #ffffff;
    margin: 0px;
    text-align: center;
    padding: 20px;
}

#navbarSupportedContent:hover{
    color: #4aaaa5;
}
#bootstrapNavbar{
    font-family: 'Georgia', Times, Times New Roman, serif;
    border-bottom: 3px solid #cccccc;
    margin-bottom: 20px;
    padding: 0px 20px 0px 20px;
    background: #ffffff;
    color: #ffffff;
}

#headerContainer{
    padding: 0px;
}

/*End Header/Navnar*/

/*About Styling*/

#bodyContainer{
    border: 3px solid #dddddd;
    padding: 20px;
    background: #ffffff;
}
#contentHeader{
    margin: 20px;
    border-bottom: 3px solid #dddddd;
    color: #4aaaa5;
}
#mainContent{
    padding: 20px;
}

#picture{
    padding-right: 20px;
}

.clearfix{
    overflow: auto;
    clear: both;
}


/*Contact Styling*/
button{
    color: #4aaaa5
}

/*Portfolio Styling*/
#bread, #burger, #city, #hangman, #beach{
    padding-left: 20;
}

h3{
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: relative;
    top: -75px;
}

/*Common Footer*/

footer{
    clear: both;
    background: #666666;
    color: #cccccc;
    width: 100%;
    height: 50px;
    border-top: 8px solid #4aaaa5;
    text-align: center;
    margin-top: 60px;
}